.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wrapper p {
    margin: 0 0 20px 0;
}
.wrapper div {
    margin: 30px 0 0 0;
    height: 150px;
    width: 150px;
}
.wrapper div img {
    width: 100%;
    height: 100%;
}