.filterInput {
    margin-right: 30px;
}
.jobInput {
    width: 200px;
    height: 25px;
    font-size: 20px;
    border: black 1px solid;
    border-radius: 5px;
    padding: 0 5px;
}
.genderInput {
    background: rgb(255, 255, 0);
    height: 25px;
    width: 100px;
    padding: 0 3px;
    border-radius: 5px;
    border: black 1px solid;
    font-weight: 700;
}
.genderInput option {
    background: #fff;
}